/* Users Show Page Styles */
.user-show-avatar {
    height: 128px;
    width: 128px;
}

.job_title_icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 2px solid rgba(0,255,188,0.8);
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.5);
    color: white;
    text-align: center;
}

.well.profile-block {
    color: #fff;
    h3 {
      margin-top: 0;    
    }
}
/*.well.profile-description, .well.contact-info {
    background-color: rgba(255, 255, 255, 0.5);
    border-color: #4cae4c;
}*/


/* Users Index Page Styles */
.user-index-avatar {
    border-radius: 50%;
}

.well.white-bg {
    background-color: rgba(255, 255, 255, 0.5);
}

.profile-job-title {
    color: #737373;
    font-size: 1.2em;
    font-weight: 400;
}

.profile-name a {
    text-decoration: none;
}

